1. 数据库操作

创建数据库

```sql
CREATE DATABASE [IF NOT EXISTS] 数据库名
[CHARACTER SET 字符集]
[COLLATE 校对规则];
```

- 示例：

```sql
  CREATE DATABASE mydb
  CHARACTER SET utf8mb4
  COLLATE utf8mb4_unicode_ci;
  ```

查看数据库

```sql
SHOW DATABASES;
```

使用数据库

```sql
USE 数据库名;
```

- 示例：

```sql
  USE mydb;
  ```

删除数据库

```sql
DROP DATABASE [IF EXISTS] 数据库名;
```

- 示例：

```sql
  DROP DATABASE mydb;
  ```

2. 表操作

创建表

```sql
CREATE TABLE 表名 (
    列名1 数据类型 [约束],
    列名2 数据类型 [约束],
    ...
) [ENGINE=存储引擎] [DEFAULT CHARSET=字符集] [COLLATE=校对规则];
```

- 示例：

```sql
  CREATE TABLE users (
      id INT AUTO_INCREMENT PRIMARY KEY,
      name VARCHAR(255) NOT NULL,
      email VARCHAR(255) UNIQUE,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
  ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
  ```

查看表结构

```sql
DESC 表名;
```

- 或者：

```sql
  DESCRIBE 表名;
  ```

查看所有表

```sql
SHOW TABLES;
```

删除表

```sql
DROP TABLE [IF EXISTS] 表名;
```

- 示例：

```sql
  DROP TABLE users;
  ```

修改表结构
- 添加列：

```sql
  ALTER TABLE 表名 ADD 列名 数据类型 [约束];
  ```

  - 示例：

```sql
    ALTER TABLE users ADD age INT;
    ```

- 删除列：

```sql
  ALTER TABLE 表名 DROP 列名;
  ```

  - 示例：

```sql
    ALTER TABLE users DROP age;
    ```

- 修改列：

```sql
  ALTER TABLE 表名 MODIFY 列名 新数据类型 [新约束];
  ```

  - 示例：

```sql
    ALTER TABLE users MODIFY name VARCHAR(100);
    ```

- 重命名表：

```sql
  RENAME TABLE 原表名 TO 新表名;
  ```

  - 示例：

```sql
    RENAME TABLE users TO user_info;
    ```

3. 数据操作

插入数据

```sql
INSERT INTO 表名 (列名1, 列名2, ...) VALUES (值1, 值2, ...);
```

- 示例：

```sql
  INSERT INTO users (name, email) VALUES ('Alice', 'alice@example.com');
  ```

查询数据

```sql
SELECT 列名1, 列名2, ... FROM 表名
[WHERE 条件]
[ORDER BY 列名 [ASC|DESC]]
[LIMIT 数量];
```

- 示例：

```sql
  SELECT name, email FROM users WHERE age > 18 ORDER BY name ASC LIMIT 10;
  ```

更新数据

```sql
UPDATE 表名 SET 列名1=值1, 列名2=值2, ... WHERE 条件;
```

- 示例：

```sql
  UPDATE users SET age = 25 WHERE name = 'Alice';
  ```

删除数据

```sql
DELETE FROM 表名 WHERE 条件;
```

- 示例：

```sql
  DELETE FROM users WHERE age < 18;
  ```

4. 用户和权限

创建用户

```sql
CREATE USER '用户名'@'主机名' IDENTIFIED BY '密码';
```

- 示例：

```sql
  CREATE USER 'testuser'@'localhost' IDENTIFIED BY 'password123';
  ```

授予权限

```sql
GRANT 权限 ON 数据库名.表名 TO '用户名'@'主机名';
```

- 示例：

```sql
  GRANT SELECT, INSERT, UPDATE ON mydb.* TO 'testuser'@'localhost';
  ```

查看用户权限

```sql
SHOW GRANTS FOR '用户名'@'主机名';
```

- 示例：

```sql
  SHOW GRANTS FOR 'testuser'@'localhost';
  ```

撤销权限

```sql
REVOKE 权限 ON 数据库名.表名 FROM '用户名'@'主机名';
```

- 示例：

```sql
  REVOKE UPDATE ON mydb.* FROM 'testuser'@'localhost';
  ```

删除用户

```sql
DROP USER '用户名'@'主机名';
```

- 示例：

```sql
  DROP USER 'testuser'@'localhost';
  ```

5. 其他常用指令

查看当前用户

```sql
SELECT USER();
```

查看当前数据库

```sql
SELECT DATABASE();
```

查看会话变量

```sql
SHOW VARIABLES LIKE '变量名';
```

- 示例：

```sql
  SHOW VARIABLES LIKE 'character_set_client';
  ```

查看表的存储引擎

```sql
SHOW TABLE STATUS FROM 数据库名 LIKE '表名';
```

- 示例：

```sql
  SHOW TABLE STATUS FROM mydb LIKE 'users';
  ```

优化表

```sql
OPTIMIZE TABLE 表名;
```

- 示例：

```sql
  OPTIMIZE TABLE users;
  ```

修复表

```sql
REPAIR TABLE 表名;
```

- 示例：

```sql
  REPAIR TABLE users;
  ```

清空表数据

```sql
TRUNCATE TABLE 表名;
```

- 示例：

```sql
  TRUNCATE TABLE users;
  ```

这些指令涵盖了 MySQL 的基本操作，包括数据库和表的管理、数据的增删改查、用户和权限的管理等。掌握这些指令可以帮助你高效地管理和操作 MySQL 数据库。